*{
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    height: 100vh;
}

.bg{
    background: url('https://images.unsplash.com/photo-1652387411197-2b0e2a92a764?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60') no-repeat center center/cover;
    position: absolute;
    top:-30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(30px);
}


.loading-text{
    font-size:50px ;
    color:#fff;
}